
<div class="banner">
    <div id="stars"></div>
    <div id="more-stars"></div>
    <div id="even-more-stars3"></div>
    <div class="container">
        <div class="title">
            <h1>Natacha Barcala</h1>
        </div>
    </div>
</div>



<!-- <div class="content">
    <div class="flexbox">
        <div class="span-6 about-desc">
            <div class="inner-desc">
                <h1>Natacha Barcala </h1>
                <h3>Software Developer, Web Developer
                </h3>
                <p> Computer Science graduate seeking a Software Developer role, located in Florida.
                    I primarily use Python and Flask to create web applications.
                    Come check out some of my other projects below.
                </p>
                <div class="">
                    <a href="{{ url_for('general.home', _anchor='portfolio') }}" class="btn border-pink">
                        Portfolio
                    </a>
                   
                </div>
            </div>
        </div>

        <div class="span-6 about-img">
            <img src="{{ site.baseurl }}/img/remote-work-2.png" alt="">
        </div>
    </div>
</div> -->