<footer class="footer">
    <div class="container">
        <div class="social-icons text-center">
            <a href="https://linkedin.com/in/natacha-barcala"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/nabarcala"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="https://www.etsy.com/shop/TachasWorkshop"><i class="fab fa-etsy"></i></a>
        </div>
        <div class="copyrights text-center">
            Copyright &copy; 2020 All rights reserved
        </div>
    </div>
</footer> 