
<header class="header-area">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">

        <div>
            <a href="" class="navbar-brand border-pink">NB Portfolio</a>
        </div>

        <div class="nav-menu collapse navbar-collapse" id="nav-menu">
            <ul class="navbar-nav ml-auto nav-list">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('general.home') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('general.home', _anchor='about-me') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('general.home', _anchor='services') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('general.home', _anchor='portfolio') }}">Portfolio</a>
                </li>

            </ul>
        </div>

        <div class="nav-toggle" id="nav-toggle">
            <i class='bx bx-menu menu'></i> 
        </div>
    </nav>
</header>